section {
    margin: auto 20px;
    padding: 20px;
    text-align: center;
}

h2 {
    text-align: center;
}

#inputText {
    padding: 10px;
    border-radius: 5px;
    width: 80%;
}

.replacePairs {
    margin: 20px;
}

#resultArea {
    text-align: start;
    padding: 20px 50px;
}

#result {
    margin: 20px auto;
    background: #ccc;
    border-radius: 50px;
    padding: 20px;
    width: 80%;
    min-height: 200px;
}

.beforeReplace {
    color: red;
    text-decoration: line-through;
}

.afterReplace {
    color: greenyellow;
}

#displayToggle {
    margin: 20px auto;
    display: block;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.display-none {
    display: none;
}