section {
    margin: auto 20px;
    padding: 20px;
    text-align: center;
}

#inputText {
    padding: 10px;
    border-radius: 5px;
    width: 80%;
}

#resultArea {
    text-align: start;
    padding: 20px 50px;
}